<div class="field-beneficiary">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :relationship %>
    <%= f.text_field :relationship %>
  </div>

  <div class="action">
    <br>
    <%= f.link_to_remove "Remove" %>
  </div>
</div>

