<h1>Records</h1>

<div id="top">
  <%= form_tag records_path, :method => 'get' do %>
    <%= label_tag :search %>
    <%= text_field_tag :search, params[:search] %>
    <%= select_tag "index", options_for_select(Record::SEARCH_INDEXES, selected: params[:index]) %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<div id="sidebar">
  <% @facets.each do |facet, facet_options| %>
    <div class="facet-name"><%= facet.to_s.humanize %></div>
    <ul class="facet-list">
    <% facet_options.sort_by{|a| a[0].to_s}.each do |option, count| %>
      <% next if option.blank? %>
      <li><%= link_to "#{option} (#{count})",
        params.merge({facet => option, :page => 1}) %></li>
    <% end %>
    </ul>
  <% end %>
</div>

<div id="main">
  <p><%= link_to 'New Record', new_record_path %></p>

  <table>
    <thead>
      <tr>
        <th><%= link_to_sortable 'Claim',  'claim_id', params %></th>
        <th><%= link_to_sortable 'Last',   'name_last',   params %></th>
        <th><%= link_to_sortable 'First',  'name_first',  params %></th>
        <th><%= link_to_sortable 'Middle', 'name_middle', params %></th>
        <th><%= link_to_sortable 'Title',  'name_title',  params %></th>
        <th><%= link_to_sortable 'Court',  'court_name',  params %></th>
        <th><%= link_to_sortable 'Residence', 'residence_city',  params %></th>
        <th><%= link_to_sortable 'Year of Death', 'died_on_year',  params %></th>
      </tr>
    </thead>

    <tbody>
      <% @records.each do |record| %>
        <tr>
          <td><%= link_to record.claim_id, record %></td>
          <td><%= record.name_last %></td>
          <td><%= record.name_first %></td>
          <td><%= record.name_middle %></td>
          <td><%= record.name_title %></td>
          <td><%= record.court_name %></td>
          <td><%= record.residence_city %></td>
          <td><%= record.died_on_year %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @records %>

  <p><%= link_to 'New Record', new_record_path %></p>
</div>
