<%= form_for(@court) do |f| %>
  <% if @court.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@court.errors.count, "error") %> prohibited this court from being saved:</h2>

      <ul>
      <% @court.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag 'Information' do %> 
    <div class="field">
      <%= f.label :code, 'Court Number' %><br />
      <%= f.text_field :code %>
    </div>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :street %><br />
      <%= f.text_field :street %>
    </div>
    <div class="field">
      <%= f.label :town %><br />
      <%= f.text_field :town %>
    </div>
  <% end %>

  <%= field_set_tag 'Dates' do %>
    <div class="field">
      <%= f.label :instituted_on %><br />
      <%= text_field_tag 'court[instituted_on(1i)]', @court.instituted_on_year, maxlength: 4, size: 4 %>
      <%= select_month @court.instituted_on, prefix: 'court', field_name: 'instituted_on(2i)', include_blank: true %>
      <%= select_day   @court.instituted_on, prefix: 'court', field_name: 'instituted_on(3i)', include_blank: true %>
    </div>

    <div class="field">
      <%= f.label :closed_on %><br />
      <%= text_field_tag 'court[closed_on(1i)]', @court.closed_on_year, maxlength: 4, size: 4 %>
      <%= select_month @court.closed_on, prefix: 'court', field_name: 'closed_on(2i)', include_blank: true %>
      <%= select_day   @court.closed_on, prefix: 'court', field_name: 'closed_on(3i)', include_blank: true %>
    </div>
  <% end %>
 
  <%= field_set_tag 'Demographics' do %>
    <div class="field">
      <%= f.label :gender %><br />
      <%= f.text_field :gender %>
    </div>

   <div class="field">
      <%= f.label :ethnicities %><br />
      <%= f.collection_select :ethnicity_ids, Ethnicity.all, :id, :name, {selected: @court.ethnicity_ids}, {multiple: true} %>
    </div>
  <% end %>

  <%= field_set_tag 'Notes' do %>
    <div class="field">
      <%= f.text_area :notes %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
