<div class="page-header">
  <h1>Export Data</h1>
</div>

<ul>
  <li><%= link_to 'Addresses', export_path(resource: 'address') %></li>
  <li><%= link_to 'Beneficiaries', export_path(resource: 'beneficiary') %></li>
  <li><%= link_to 'Courts', export_path(resource: 'court') %></li>
  <li><%= link_to 'Names', export_path(resource: 'name') %></li>
  <li><%= link_to 'Records', export_path(resource: 'record') %></li>
  <li><%= link_to 'Transfers', export_path(resource: 'transfer') %></li>
</ul>
