<!DOCTYPE html>
<html>
<head>
  <title>Foresters Data Entry</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
      <h1><%= link_to 'Foresters Data Entry', root_path %></h1>

      <nav>
        <ul>
          <li><%= link_to 'Courts', courts_path %></li>
          <li><%= link_to 'Records', records_path %></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="container">
    <%= yield %>
  </section>

</body>
</html>
